@import '@style/base';
.business-card{
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    width: px-to-rem(300px);
    @include mimicry();
    @include card-style;
    padding-top: 3rem;
    &__user-avatar{
        width: 50px;
        height: 50px;
        background-size: 50px;
    }
    &__user-name{
        font-weight: 600;
        font-size: 20px;
    }
    &__user-contact{
        .icon-font{
            padding: 0 1rem;
        }
    }
    &__user-sign{
        color: var(--regular-text--color);
    }
}