@use "sass:math";
$fontSize:16px;

@function px-to-rem($px) {
    @return #{math.div($px, $fontSize)}rem;
}

@mixin flex-mixin($flow: row nowrap, $justify: center, $alignItem: flex-start, $alignContent: flex-start) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $alignItem;
    align-content: $alignContent;
}

@mixin card-style {
    border-radius: 6px;
    padding: 5px;
}

@mixin mimicry($vague:12px) {
    border-left: var(--border-color) 1px solid;
    border-top:var(--border-color) 1px solid;
    background-color: var(--app-background-color);
    box-shadow: 5px 5px $vague var(--app-background-darken10-color),
    -5px -5px $vague var(--app-background-color),
}


%flex-vertical-center{
    display: flex;
    align-items: center;
}
%use-icon-font{
    font-family: "icon-font" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}