@use "sass:math";
$fontSize:16px;
$primary-color:#EA4961;

$shadow: var(--card-shadow);

@function px-to-rem($px) {
    @return #{math.div($px, $fontSize)}rem;
}

@mixin flex-mixin($flow: row nowrap, $justify: center, $alignItem: flex-start, $alignContent: flex-start) {
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $alignItem;
    align-content: $alignContent;
}

@mixin card-style {
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}


%flex-vertical-center{
    display: flex;
    align-items: center;
}