:root{
    --app-back:blue;
    --cont-back:green;
    
    --art-title-color:violet;
    --art-content-color:red;
    --li-link-color:grey;
    --li-link-ac-color:yellow;
    --menu-link-color:grey;
    --menu-link-ac-color:yellow;
}