@import "base";
*{
  box-sizing: border-box;
}
html,
body {
  position: relative;

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;
}
.hide {
  display: none !important;
}
.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cont-back);
  @include flex-mixin($alignItem: center);
}

@font-face {
  font-family: "icon-font";
  src: url("../assets/font/iconfont.woff2?t=1641202481968") format("woff2"),
    url("../assets/font/iconfont.woff?t=1641202481968") format("woff"),
    url("../assets/font/iconfont.ttf?t=1641202481968") format("truetype");
}



.icon-font {
  font-family: "icon-font" !important;
  font-size: 1.25rem;
  color: var(--primary-color);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0.2rem;
  text-shadow: 3px 3px 5px var(--primary-alpha20-color) ,
    3px 3px 5px var(--primary-darken10-alpha20-color)
}
.skeleton {
	background-color: #e2e5e7;
	// The shine that's going to move across the skeleton:
	background-image:			
			linear-gradient(
				90deg, 
				rgba(#fff, 0), 
				rgba(#fff, 0.5),
				rgba(#fff, 0)
			);
	background-size: 40px 100%; // width of the shine
	background-repeat: no-repeat; // No need to repeat the shine effect
	background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
	animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}
@keyframes shine {
	to {
		// Move shine from left to right, with offset on the right based on the width of the shine - see background-size
		background-position: right -40px top 0;
	}
}

.button {
  height: px-to-rem(40px);
  display: inline-block;
  appearance: none;
  border: none;
  cursor: pointer;
  font: {
    family: sans-serif;
    weight: 400;
    size: 1rem;
  }
  text: {
    decoration: none;
    align: center;
  }

  padding: 0 px-to-rem(40px);
  margin: px-to-rem(5px);

  &:active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
  }
  &--rounded {
    border-radius: 6px;
  }
  &--primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    &:hover {
      background-color: var(--primary--lighten5-color)
    }
    &:active {
      background-color: var(--primary--lighten3-color);
      border-color: var(--primary--darken3-color);
      color: var(--primary--darken10-color);
    }
    &.button--glow {
      animation-name: glowing-primary;
    }
    &.button--border {
      color: var(--primary-color);
      &:hover,
      &:focus,
      &:active {
        background-color:var(--primary-alpha80-color);
        color: #fff;
      }
      &:active {
        background-color: var(--primary-alpha20-color) !important;
      }
    }
  }
  &--glow {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    &:active {
      animation-name: none;
    }
  }
  &--border {
    transition: all 0.25s ease;
    background-color: rgba(255, 255, 255, 0);
    border-width: 2px;
    border-style: solid;
    &:hover {
      color: #fff;
    }
  }
}

@keyframes glowing-primary {
  from {
    -webkit-box-shadow: 0 0 0 var(--primary-alpha20-color);
    box-shadow: 0 0 0 var(--primary-alpha20-color);
  }
  50% {
    -webkit-box-shadow: 0 0 20px var(--primary-alpha80-color);
    box-shadow: 0 0 20px var(--primary-alpha80-color);
  }
  to {
    -webkit-box-shadow: 0 0 0 var(--primary-alpha20-color);
    box-shadow: 0 0 0 var(--primary-alpha20-color);
  }
}

.col-enum{
  display: flex;
  flex-flow: row wrap;
  gap:0.5rem
}

.primary-text{
  color: var(--primary-text-color);
}
.regular-text{
  color: var(--regular-text-color);
}
.secondary-text{
  color: var(--secondary-text-color);
}
.placeholder-text{
  color: var(--placeholder-text);
}